/* mobile 1st approach */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    max-width: 100%;
}

img {
    max-width: 100%;
}

/* altezze di default per header e footer  */
.header-container,
.footer-container {
    height: 80px;
}


.left-sidebar-part {
    display: none;
}

/* UTILITIES */

.align-items {
    align-items: center;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

/* COLORS */
.header-container {
    background-color: #eaeaea;

}

.chat-container {
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 20vh);
}

.sent .msg {
    background-color: #d5f9ba;
}

.received .msg {
    background-color: #ffffff;
}

.footer-container {
    background-color: #eaeaea;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.options-time * {
    color: #b6b9bb;
}

.header-container p {
    color: #b6b9bb;
}



/* header */

.chat-container {
    height: calc(100vh - 160px);
}

.friend-img img {
    height: 10vh;
    border-radius: 50%;
    padding: 10px;
}

.header-container-options {
    display: none;
}

.profile-section-icons {
    display: none;
    
}


/* MAIN */

.chat-container .sent {
    padding: 20px;
    margin-left: 100px;

}

.chat-container .received {
    padding: 20px;
    margin-right: 100px;
}


.msg {
    padding: 10px;
    border-radius: 5px;
}

.options-time {
    flex-direction: column;
    justify-content: space-between;
}

.chats li div {
    display: none;
}


/* SIDEBAR */
.notifications,
.search-chat-section {
    display: none;
}




/* FOOTER */

.message-input {
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}

.footer-container i {
    margin: 0 auto;
    color: #878788;
    display: none;

}





/* Media Query tablet 768px */
@media (min-width: 768px) {

    

    .header-container-options {
        display: block;
        display: flex;
        align-items: center;
        padding: 40px;
        gap: 20px;
        color: #b1b1b2;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .left-sidebar-part {
        display: block;
        width: 30%;

    }

    .profile-section {
        height: 10vh;
        background-color: #eaeaea;
        padding: 10px;


    }

    .profile-section img {
        height: 10vh;
        border-radius: 50%;
       
    }

    .sidebar {
        display: block;
        height: calc(100vh - 80px);
    }

    .chats li img {
        border-radius: 50%;
        padding: 10px;

    }




    .footer-container {
        display: flex;
        align-items: center;

    }


    .footer-container i {
        display: block;
    }

    .msg {
        padding: 10px 20px 50px;
    }


}

/* desktop media queery */

@media screen and (min-width: 992px) {

    /* mostrare le nuove sezioni  */
    .notifications,
    .search-chat-section {
        display: block;
    }

    .profile-section-icons {
        display: block;
        
    }

    /* sezione notifiche */
    .notifications {
        gap: 10px;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        background-color: #8edafc;
    }

    /* icona notifiche bell slash */
    .notifications i.fa-bell-slash {
        padding: 20px;
        margin-right: 10px;
        color: #8edafc;
        border-radius: 50%;
        background-color: #f2fbff;

    }

    /* sezione richerca chat */
    .search-chat-section {
        gap: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        margin: 10px 20px;

    }

    

    /* sezione chats */

    .chats li {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid lightgray;


    }

    .chats li div {
        display: block;
        margin-top: 10px;
        padding-right: 10px;
        font-size: small;
    }

    .chats li div p {
        color: lightgray;
    }

    .chats li img {
        width: 30%;
    }

    /* sidebar scroll chat*/
    .sidebar {
        height: calc(100vh - 80px);
        overflow-y: auto;
    }

    /* sidebar scroll chatt */
    .chat-container {
        height: calc(100vh - 160px);
        overflow-y: auto; 
    }

    .profile-section {
        justify-content: space-between;
    }

    .profile-section-icons a i {
        color: #b1b1b2;
        padding: 5px;
    }
}