/* mobile 1st approach */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

img {
    max-width: 100%;
}

.header-container,
.footer-container {
    height: 10vh;
}

.sidebar,
.profile-section {
}

.left-sidebar-part {
    display: none;
}

/* UTILITIES */

.align-items {
    align-items: center;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

/* COLORS */
.header-container {
    background-color: #eaeaea;
   
}

.chat-container {
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 20vh);
}

.sent .msg {
    background-color: #d5f9ba;
}

.received .msg {
    background-color: #ffffff;
}

.footer-container {
    background-color: #eaeaea;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.options-time * {
    color: #b6b9bb;
}

.header-container p {
    color: #b6b9bb;
}



/* header */
.friend-img img{
    height: 10vh;
    border-radius: 50%; 
    padding: 10px;
}

.header-container-options {
    display: none;
}

/* MAIN */

.chat-container .sent {
    padding: 20px;
    margin-left: 50px;
    
}

.chat-container .received {
   padding: 20px;
    margin-right: 50px;
}


.msg {
    padding: 10px;
    border-radius: 5px;
}

.options-time {
    flex-direction: column;
    justify-content: space-between;
}


/* FOOTER */

.message-input {
    width: 70%;
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px; 
}

.footer-container i {
    margin: 0 auto;
    color: #878788;
    display: none;

}





/* Media Query tablet 768px */
@media (min-width: 768px) {

    .header-container-options {
        display: block;
        display: flex;
        align-items: center;
        padding: 40px;
        gap: 20px;
        color: #b1b1b2;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .left-sidebar-part{
        display: block;
       
    }
    .profile-section  {
        height: 10vh;
        background-color: #eaeaea;
        padding:10px;
    ;

    }

    .profile-section img {
        height: 10vh;
        border-radius: 50%;
        padding: 10px;
    }

    .sidebar {
        padding:10px;
    }

    .chats li img {
        height: 10vh;
        width: 20vw;.
    }

   .sidebar .chats li img {
    
        height: 10vh;
        border-radius: 50%; 
        padding: 10px;
    }
   
    .footer-container  {
       display: flex;
       align-items: center;
    
    }
    

    .footer-container i {
       
        display: block;
    
    }
    


}